
/* Table*/
/* #my-table {
  width: 100%;
}

#my-table th {
  text-align: left;
}

#my-table th, #my-table td {
  border: 1px solid #ddd;
}

td.price {
  text-align: right;
}

th {
  text-transform: capitalize;
}

th.description {
  min-width: 300px;
}

.image {
  max-width: 300px;
  overflow-wrap: break-word;
} */

table {
  min-width: 100vw;
  width: auto;
  flex: 1;
  display: grid;
  border-collapse: collapse;
  /* These are just initial values which are overriden using JavaScript when a column is resized */
  grid-template-columns: 
    minmax(150px, 1fr)
    minmax(150px, 2fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

th {
  top: 0;
  text-align: left;
  background-color: #fff;
  text-transform: capitalize;
  position: sticky;
  /* position: relative; */
}

th:last-child {
  border: 0;
}


td {
  padding-top: 10px;
  padding-bottom: 10px;

}

tr:nth-child(even) td {
  background: #fff;
}