
/* Table*/
#my-table {
  display: grid;
  grid-template-columns: minmax(150px, 1.33fr) minmax(150px, 2.33fr);
}

#my-table thead {
  display:contents;
}

#my-table tbody {
  display: contents;
}

#my-table th {
  text-align: left;
}

#my-table th, #my-table td {
  border: 1px solid #ddd;
}

td.price {
  text-align: right;
}

th {
  text-transform: capitalize;
}

th.description {
  min-width: 300px;
}

.image {
  max-width: 300px;
  overflow-wrap: break-word;
}